footer {
    font-family: var(--primary-font);
    background-color: var(--yellow);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

footer img {
    width: 150px;
}

.footer__navegation {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer__navegation li a {
    text-decoration: none;
    color: var(--blue-logo);
}

.footer__navegation li a:hover {
    text-decoration: underline;
    color: var(--blue-link);
}

@media screen and (min-width: 768px) {
    footer {
        position: relative;
        justify-content: space-around;
    }

    .footer__navegation {
        flex-direction: row;
        gap: 20px;
        /* border: solid 1px red; */
        padding: 0;
        position: relative;
        bottom: 25px;
    }

    .footer__navegation li{
        font-size: 20px;
    }
}