.geracoes {
    font-family: var(--primary-font);
    background-color: var(--black);
    padding-bottom: 5px;
}

.container__geracoes {
    justify-self: center;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.geracoes img {
    transition: transform 0.4s;
}

.geracoes img:hover {
    transform: scale(1.1);
}

.geracoes__title {
    margin-top: -20px;
    padding: 5px;
    padding-top: 10px;
    color: var(--white);
    text-align: center;
    /* border-bottom: 2px solid var(--red); */
    width: 90%;
    justify-self: center;
}

@media screen and (min-width: 768px) {
    .container__geracoes {
        width: 100%;
        gap: 15px;
    }

    .geracoes {
        padding-bottom: 10px;
    }
}