.apresentacao {
    padding: 5px 0 10px 0;
}

.apresentacao__text {
    justify-self: center;
    text-align: center;
    width: 90%;
}

@media screen and (min-width: 768px) {
    .apresentacao__text {
        width: 70%;
        font-size: 20px;
    }
}