.img__logo {
    width: 75px;
}

.collapse__title {
    color: white;
}

.collapse__itemList {
    color: white;
    text-decoration: none;
    padding-left: 25px;
}

.collapse__itemList:hover {
    text-decoration: underline;
}

.bootstrap__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navbar {
    background-color: red !important;
}

.list-unstyled li a {
    font-family: var(--primary-font);
}

.navbar .nav-link {
    color: white !important;
}

.navbar .nav-link.active {
    color: white !important;
}

button {
    color: white;
}

nav {
    display: none;
}

@media screen and (min-width: 768px) {

    .navbar,
    .collapse {
        display: none;
    }

    nav {
        font-family: var(--primary-font);
        display: flex;
        width: 100%;
        background-color: var(--red);
        justify-content: space-around;
        align-items: center;
        padding: 5px;
    }

    .navbar__descktop__navegation_list {
        list-style: none;
        display: flex;
        gap: 25px;
        padding: 0;
        /* border: 1px solid black; */
    }

    .navbar__descktop__navegation__list__item {
        text-decoration: none;
        color: var(--white);
    }

    .img__logo {
        width: 100px;
    }

    .navbar__descktop__navegation_list {
        /* padding: 0; */
        position: relative;
        top: 5px;
    }

    .navbar__descktop__navegation_list li a {
        position: relative;
    }

    .navbar__descktop__navegation_list li a::before {
        content: "";
        position: absolute;
        bottom: -2px;
        height: 2px;
        width: 0;
        background-color: var(--white);
        transition: width 0.5s ease;
    }

    .navbar__descktop__navegation_list li a:hover:before {
        width: 100%;
    }

}