.container__emuladores__info {
    /* border: 1px solid red; */
    width: 100%;
}

.container__jogo {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: 100%;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
}

.container__jogo__img {
    width: 350px;
    text-align: center;
    /* border: 1px solid red; */
}

.container__info__jogo {
    width: 95%;
    justify-self: center;
    /* border: 1px solid red; */
}

.container__jogo__titulo {
    text-align: center;
    margin-bottom: 15px;
}

.container__info__jogo a {
    text-decoration: none;
}

.lista__jogos__compativeis {
    /* border: 1px solid red; */
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dowload__link__jogo {
    font-size: 16px;
}

.container__jogos__compativeis {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
}

.titulo__jogos__compativeis {
    color: var(--white);
    text-align: center;
    justify-self: center;
}

.jogos__compativeis {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* border: 1px solid red; */
    justify-content: center;
}

.dowload__link__jogo:hover {
    text-decoration: underline;
}

.container__info__jogo {
    padding-top: 20px;
}

.jogos__compativeis a img {
    transition: transform 0.4s ease;
}

.jogos__compativeis a img:hover {
    transform: scale(1.1);
}

@media screen and (min-width: 768px) {
    .container__emuladores__info {
        display: flex;
        flex-direction: row;
        gap: 20px;
        min-height: 68vh;
        justify-content: center;
    }

    .container__jogo,
    .container__info__jogo {
        width: 40%;
        box-sizing: border-box;
        justify-content: flex-start;
    }

    /* .container__jogo {
        position: sticky;
        top: 20px;
        align-self: flex-start;
    }

    .container__info__jogo {
        overflow: auto;
        max-height: 80vh;
    } */
}
