.rooms {
    font-family: var(--primary-font);
    background-color: var(--black);
    padding-bottom: 10px;
}

.container__rooms {
    justify-self: center;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.rooms img {
    transition: transform 0.4s;
}

.rooms__title {
    padding: 5px;
    color: var(--white);
    text-align: center;
    /* border-bottom: 2px solid var(--red); */
    width: 90%;
    justify-self: center;
}

@media screen and (min-width: 768px) {
    .container__rooms {
        gap: 15px;
        padding-bottom: 5px;
    }

    .rooms img {
        width: 200px;
    }
}

@media screen and (min-width: 1025px) {
    .rooms img:hover {
        transform: scale(1.1);
    }
}