.main__sobre {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.logo__sobre {
    width: 350px;
}

.paragrafo__sobre {
    width: 90%;
    text-align: center;
}