.main__sobre {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    min-height: 95vh;
}

.logo__sobre {
    width: 350px;
}

.paragrafo__sobre {
    width: 90%;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .paragrafo__sobre {
        font-size: 20px;
        width: 70%;
    }
}